.contact {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    margin-top: 150px;
}

.connect {
    font-size: 2rem;
    padding: 5px;
    font-weight: 350;
}

.social-media {
    display: flex;
    margin-bottom: 100px;
    margin-top: 20px;
}

.icon-container svg {
    margin: 20px;
    font-size: 60px;
    cursor: pointer;
}

.icon-container svg:hover {
    transform: scale(1.1);
    transition: all .2s ease;
}



/* Mobile devices */

@media only screen and (max-width: 480px) {

    .contact {
        margin-top: 100px;
        height: 30%;
    }
}

/* iPads, Tablets*/

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .contact {
        margin-top: 100px;
        height: 30%;
    }
}

/* Small screens, laptops */

@media (min-width: 769px) and (max-width: 1024px) {
    .contact {
        margin-top: 100px;
        height: 30%;
    }
}

/* Large Devices */

@media (min-width: 1025px) and (max-width: 1200px) {
    .contact {
        margin-top: 100px;
        height: 30%;
    }
}