.home {
    width: 100%;
    align-items: center;

}

.about-me {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-me h2 {
    font-size: 2rem;
    padding: 5px;
    font-weight: 350;
}

.prompt {
    display: flex;
    font-size: 2rem;
    padding-left: 200px;
    padding-right: 200px;
}