.home {
    width: 100%;
    align-items: center;
}

.avatar {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: clip;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    margin-bottom: 50px;
    margin-top: 150px;
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 7s ease-in-out infinite;
}

.avatar img {
    width: 100%;
    min-height: 100%;
}


@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

.about-me {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.about-me h2 {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    padding: 5px;
    font-weight: 350;
    width: 80%;
    margin: 0px;
}

.prompt {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    width: 50%;
    margin-bottom: 75px;
}

.wave {
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
}



/* MOBILE */

@media only screen and (max-width: 480px) {


    .about-me {
        padding-top: 135px;
        max-height: 700px;
    }

    .avatar {
        margin-top: 25px;
        /* margin-bottom: 25px; */
    }

    .about-me h2 {
        font-size: 1.6rem;
        padding: 0;
        margin: 0;
    }

    .wave {
        display: flex;
        font-size: 1.5rem;
    }

    .prompt {
        font-size: 1.5rem;
        width: 80%;
        margin-top: 45px;
    }

    .projects .title {
        font-size: 2rem;
    }
}

/* MEDIUM SCREENS */

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .about-me {
        padding-top: 180px;
        max-height: 600px;
    }

    .avatar {
        margin-top: 50px;
    }

    .about-me h2 {
        font-size: 1.7rem;
        padding: 0;
        margin: 0;
    }

    .wave {
        display: flex;
        font-size: 1.5rem;
    }

    .prompt {
        font-size: 1.5rem;
        width: 80%;
        margin-top: 45px;
    }

    .projects .title {
        font-size: 2rem;
    }
}



/* LAPTOPS */

@media (min-width: 768px) and (max-width: 1024px) {

    .about-me {
        padding-top: 220px;
        max-height: 700px;
    }

    .avatar {
        margin-top: 100px;
        margin-bottom: 50px;

    }

    .about-me h2 {
        margin-top: 200px;
        width: 85%;
        padding: 0;
        margin: 0;
        font-size: 1.7rem;
    }

    .wave {
        display: flex;
        font-size: 1.7rem;
    }


    .projects .title {
        font-size: 2rem;
    }

    .prompt {
        font-size: 1.5rem;
        width: 80%;
        margin-top: 45px;
    }

}

/* LARGER SCREENS */

@media (min-width: 1025px) and (max-width: 1200px) {

    .about-me {
        padding-top: 220px;
        max-height: 600px;
    }

    .avatar {
        margin-top: 90px;
        margin-bottom: 50px;
    }

    .about-me h2 {
        margin-top: 200px;
        font-size: 1.7rem;
        width: 85%;
        padding: 0;
        margin: 0;
    }

    .wave {
        display: flex;
        font-size: 1.7rem;
        font-size: 1.7rem;
    }


    .projects .title {
        font-size: 2rem;
    }

    .prompt {
        display: flex;
        font-size: 1.7rem;
        width: 80%;
        margin-bottom: 60px;
    }

}