.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 140px;
    background-color: #59c8ff;
    font-size: 1.5rem;
    z-index: 10;
    position: fixed;
    transition: 0.25s;
    box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.32);
}

.navbar-small {
    height: 70px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo-initials {
    font-family: 'Raleway', sans-serif;
    font-size: 120px;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow:
        8px 8px #ff1f8f,
        20px 20px #000000;
    transition: 0.4s;
    margin-left: 30px;
}

.logo-initials-small {
    font-size: 50px;
}


.navbar-links {
    display: flex;
    width: 100%;
}

.navbar-links ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.navbar-links li a {
    text-decoration: none;
    margin: 40px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 9px 12px 9px 12px;
    border: 1px solid transparent;
    border-radius: 5px;

}

.navbar-links a:hover {
    transition: all .5s ease-in-out;
    border-radius: 5px;
    background-color: #fff;
    color: rgb(0, 0, 0);
}


.hamburger-button {
    display: none;
    position: absolute;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}


.hamburger-button button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: white;
}

.mobile-menu {
    display: none;
}

#open {
    height: 100vh;
    background-color: #1d7baa;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


#open .navbar-links {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;
}

#open a {
    text-align: center;
    margin: 0;
}



/* Mobile devices */

@media only screen and (max-width: 480px) {

    .navbar-container {
        height: 100px;
    }

    #open .navbar-links {
        display: none;
    }


    .hamburger-button {
        display: flex;
        width: 100%;
        height: 100px;
        align-items: flex-end;
        justify-content: center;
        color: white;
    }

    .hamburger-button button {
        position: absolute;
        top: 30px;
        right: 0;
        margin-right: 7px;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        font-weight: 500;
        margin-top: 50px;
        position: absolute;
        top: 80px;
    }

    .mobile-menu a {
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
    }

    .mobile-menu a:hover {
        transition: all .5s ease-in-out;
        border-radius: 5px;
        background-color: #fff;
        color: rgb(0, 0, 0);
    }

    .logo-initials {
        font-size: 60px;
        margin: 0px 20px;
    }

    #close a {
        display: none;
        transition: 0.4s;
        background-color: #1d7baa;
    }
}

/* iPads, Tablets*/

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .navbar-container {
        height: 120px;
    }

    #open .navbar-links {
        display: none;
    }

    .hamburger-button {
        display: flex;
        width: 100%;
        height: 100px;
        align-items: flex-end;
        justify-content: center;
        color: white;
    }

    .hamburger-button button {
        position: absolute;
        top: 30px;
        right: 0;
        margin-right: 7px;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        font-weight: 500;
        margin-top: 50px;
        position: absolute;
        top: 80px;
    }

    .mobile-menu a {
        text-decoration: none;
        padding: 10px;
    }

    .mobile-menu a:hover {
        transition: all .5s ease-in-out;
        border-radius: 5px;
        background-color: #fff;
        color: rgb(0, 0, 0);
        font-weight: 600;
    }

    .logo-initials {
        font-size: 60px;
        margin: 5px 20px 0;
    }

    #close a {
        display: none;
        transition: 0.4s;
        background-color: #1d7baa;
    }
}


/* Medium and Larger Devices */

@media (min-width: 768px) and (max-width: 1000px) {

    .logo-initials {
        padding-left: 20px;
        transition: 0.4s;
    }

    .navbar-links li a {
        margin: 20px;
    }

}