.navbar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 140px;
    background-color: #59c8ff28;
    font-size: 1.5rem;
    z-index: 10;
    position: fixed;
    transition: 0.4s;
}

.navbar-small {
    height: 70px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}



.logo-initials {
    font-family: 'Raleway', sans-serif;
    font-size: 120px;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow:
        8px 8px #ff1f8f,
        20px 20px #000000;
    transition: 0.4s;
}

.logo-initials-small {
    font-size: 50px;
}


.navbar-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 25px;

}


.navbar-links a {
    text-decoration: none;
    margin: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 9px 12px 9px 12px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.navbar-links a.active {
    border-radius: 5px;
    border: 1px solid #59c9ff6b;
    font-weight: bold;

}

.navbar-links a:hover {
    transition: all .2s ease-in-out;
    border: 1px solid #59c9ff6b;
    border-radius: 5px;
    background-color: #fff;
    color: rgb(0, 0, 0);
}


.toggle-button {
    display: none;
    /* width: 100%;
    height: 100px;
    align-items: center;
    justify-content: flex-end; */
}


.toggle-button button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

#open {
    height: 100vh;
    z-index: 10;
}


#open .navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;
}

#open a {
    text-align: center;
    margin: 0;
}



/* Media Query for Smartphones */

@media (max-width: 767px) {

    .toggle-button {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    #close a {
        display: none;
    }

}

/* Media Query for Tablets */

@media (min-width: 768px) and (max-width: 1023px) {
    .toggle-button {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .hiddenLinks {
        display: none;
    }

    #open {
        height: 100%;
        flex-direction: column;
    }

    #open .navbar-links {
        flex-direction: row;
    }

    #close a {
        display: none;
    }

}