:root {
    --card-width: 30%;
    --image-width: calc(var(--card-width) * 3);
}

.projects {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 50px; */
}

.projects .title {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 100px;
}

.project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 50%;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-bottom: 40px;
    margin-top: 100px;
}

.project-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px;

    position: relative;
    max-width: var(--card-width);
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    transition: 0.4s;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.project-item:hover {
    --card-width: 40%;
    --image-width: calc(var(--card-width) * 2.3);
}

.project-image {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    position: relative;
    margin: -7rem auto 1.2rem;
    width: var(--image-width);
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
    overflow: hidden;
    border: 2px solid #fff;
}

.project-image:hover {
    margin-top: -4rem;
}

.project-item .name {
    font-size: 1.7rem;
    margin-top: 0.7rem;
}

.project-description {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-item:hover .project-description {
    max-height: 300px;
    opacity: 1;
    overflow: visible;
    font-size: 1.6rem;
    width: 95%;
    margin-top: 1.1rem;
}

.project-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.live-link,
.github-code {
    appearance: none;
    outline: none;
    background: none;
    /* border-radius: 10px; */
    border: none;
    cursor: pointer;
    padding: 0.5rem 0 0.5rem;
    color: #fff0;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 1.1rem 2rem;
    min-width: 150px;
    transition: 0.4s;
}

.live-link a,
.github-code a {
    text-decoration: none;
    appearance: none;
    outline: none;
    background: none;
    border: none;
}

.live-link:hover,
.github-code:hover {
    animation: none;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transform: translateY(-0.5rem) scale(1.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.live-link a:hover,
.github-code a:hover {
    animation: none;
}

.pulsate {
    animation: pulsate 3s infinite alternate;
    margin-left: 4px;
}

@keyframes pulsate {
    /* 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  } */

    0% {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 10px #fff, 0 0 30px #fff, 0 0 40px #fff,
            0 0 40px #fff;

        /* text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #fff,
    0 0 45px #fff,
    0 0 55px #fff,
    0 0 70px #fff,
    0 0 80px #fff; */
    }
}

/* MOBILE */

@media only screen and (max-width: 480px) {
    .project-container {
        flex-direction: column;
        margin-bottom: -70px;
        width: 100%;
    }

    .projects {
        margin-top: 25px;
    }

    .projects .title {
        font-size: 2rem;
        padding: 10px;
        margin: 25px;
        width: 85%;
        margin-top: -40px;
        margin-bottom: -40px;
    }

    .project-list {
        width: 90%;
    }

    .project-item {
        min-width: 80%;
    }

    .project-description {
        overflow: visible;
        opacity: 1;
        font-size: 1.2rem;
        padding: 0;
        text-align: center;
        width: 90%;
        min-height: 300px;
        margin-bottom: -20px;
        margin-top: -20px;
    }

    .project-item:hover .project-description {
        overflow: visible;
        opacity: 1;
        font-size: 1.2rem;
        padding: 0;
        text-align: center;
        width: 90%;
        min-height: 300px;
        margin-bottom: -20px;
        margin-top: -20px;
    }

    .project-image {
        margin: -3rem auto 1rem;
    }

    .project-image:hover {
        margin: -3rem auto 1rem;
    }

    .project-item .name {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .project-socials {
        margin-bottom: -10px;
    }

    .live-link,
    .github-code {
        font-size: 1.15rem;
        margin: 10px 16px 5px;
        min-width: 100px;
        padding: 0.4rem 0rem;
    }
}

/* MEDIUM SCREENS*/

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .project-container {
        flex-direction: column;
        margin-bottom: -60px;
    }

    .projects {
        margin-top: 0px;
    }

    .projects .title {
        font-size: 2rem;
        width: 85%;
        margin-bottom: -25px;
    }

    .project-list {
        width: 90%;
    }

    .project-item {
        overflow: visible;
        opacity: 1;
        font-size: 1.2rem;
        padding: 0;
        text-align: center;
        min-width: 80%;
        min-height: 300px;
    }

    .project-description {
        overflow: visible;
        opacity: 1;
        font-size: 1.2rem;
        padding: 0;
        text-align: center;
        width: 90%;
        min-height: 300px;
        margin-top: -20px;
        margin-bottom: -30px;
    }

    .project-item:hover .project-description {
        min-height: 300px;
        overflow: visible;
        opacity: 1;
        font-size: 1.2rem;
        padding: 0;
        text-align: center;
        margin-bottom: -20px;
        margin-top: -20px;
    }

    .project-image {
        margin-top: -2rem;
    }

    .project-image:hover {
        margin-top: -2rem;
    }

    .project-item .name {
        font-size: 1.6rem;
        margin-bottom: -1.8rem;
        margin-top: 25px;
    }

    .project-socials {
        margin-top: 30px;
        margin-bottom: -20px;
    }

    .live-link,
    .github-code {
        font-size: 1.1rem;
        margin: 1rem 1.8rem 1rem;
        min-width: 100px;
        padding: 0.4rem 0rem;
    }
}

/* LAPTOPS */

@media (min-width: 769px) and (max-width: 1024px) {
    .project-container {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .projects .title {
        font-size: 2.5rem;
        width: 85%;
    }

    .project-list {
        width: 90%;
    }

    .project-item {
        overflow: visible;
        opacity: 1;
        font-size: 1.2rem;
        padding: 0;
        text-align: center;
        min-width: 80%;
        min-height: 300px;
    }

    .project-description {
        overflow: visible;
        opacity: 1;
        font-size: 1.4rem;
        padding: 0;
        text-align: center;
        width: 90%;
        min-height: 300px;
        margin-top: -50px;
        margin-bottom: -30px;
    }

    .project-item:hover .project-description {
        min-height: 300px;
        overflow: visible;
        opacity: 1;
        font-size: 1.2rem;
        padding: 0;
        text-align: center;
        margin-bottom: -20px;
        margin-top: -20px;
    }

    .project-item:hover .project-description {
        font-size: 1.4rem;
        width: 85%;
        margin-bottom: 40px;
    }

    .project-image {
        margin: -5.5rem auto 1.1rem;
    }

    .project-image:hover {
        margin-top: -3.5rem;
    }

    .project-item .name {
        font-size: 1.7rem;
        margin-bottom: 1.6rem;
    }

    .project-socials {
        margin-bottom: -15px;
    }

    .live-link,
    .github-code {
        margin: 0.5rem 1.5rem;
        min-width: 110px;
        padding: 10px;
    }
}

/* LARGER SCREENS */

@media (min-width: 1025px) and (max-width: 1200px) {
    .projects .title {
        font-size: 2.5rem;
        width: 85%;
    }

    .project-list {
        width: 90%;
    }

    .project-item {
        overflow: visible;
        opacity: 1;
        font-size: 1.2rem;
        padding: 0;
        text-align: center;
        min-width: 80%;
        min-height: 300px;
    }

    .project-description {
        font-size: 2rem;
        width: 85%;
    }

    .project-item:hover .project-description {
        font-size: 2rem;
        width: 85%;
        margin-bottom: 40px;
    }

    .project-item .name {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }

    .project-image {
        margin: -5.5rem auto 1.1rem;
    }

    .project-image:hover {
        margin-top: -3.5rem;
    }

    .project-item .name {
        font-size: 2rem;
    }

    .live-link,
    .github-code {
        font-size: 1.7rem;
        margin: 1rem 3rem;
        min-width: 150px;
    }
}
