body {
  margin: 0;
  font-family: 'Source Sans Pro', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0;
  font-weight: 400;
  line-height: 1.5;
  background-image: url('./assets/background_img2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
}